
*{
    margin:0;
    padding:0;
}

.container7{
    width: 100%;
    height: 100vh;
    background-image: url('assets/hayfield.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.header{
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.navbar{
    text-align: center;
    flex: 1;
}

.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.content{
    text-align: center;
    margin-top: 5%;
}

.content h1{
    font-size: 80px;
    color: white;
}

.container2{
    width: 100%;
    height: 100%;
    background-image: url('assets/kansasstorm.jpg');
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.container3{
    width: 100%;
    height: 100%;
    background-image: url('assets/kansasfield.jpg');
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.container4{
    width: 100%;
    height: 100vh;
    background-image: url('assets/konzaprairie.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.cards{
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    gap: 20px;
    font-family: sans-serif;
  }

.container{
    padding: 0 16px;
}
  

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image {
    width: 100%;
    display: block;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}

.card___content > p:first-of-type {
    margin-top: 0;
}

.card__info {
    padding: 15px;
    display: center;
    justify-content: space-between;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
}
